html, body {
    margin: 0px;
    padding: 0px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    background-color: rgb(255, 220, 233);
}

.sp {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    background-color: rgb(25, 199, 190);
}

.sp :hover {
    background-color: rgb(136, 42, 42);
}

.box {
    padding: 4px;
}

.fa-square {
    font-size: 140px;
}

.btn {
    font-size: 50px;
    color: blue;
}

#all-btn {
    text-align: center;
}

.selected {

}