html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.front {
    width: 54vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
}

.sp {
    width: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    background-color: rgb(202, 99, 51);
    border-radius: 10px;
}

.front .box:hover {
    background-color: rgba(38, 126, 129, 0.822);
    border-radius: 12px;
    width: 125px;
    height: 142px;
}

.mainBox {
    padding: 4px;
}

.box {
    padding: 4px;
}

.frontBox {
    font-size: 140px;
}

.btn {
    font-size: 50px;
    color: blue;
}

#all-btn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.selected {
    background-color: rgba(129, 131, 9, 0.651);
}

.boxes {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.text {
    font-size: 20px;
    font-style: italic;
    color: rgba(13, 1, 65, 0.932);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgba(226, 131, 43, 0.219);
}

.bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

.fa-angle-double-up:hover {
    color: rgb(12, 138, 223);
}

.fa-angle-double-left:hover {
    color: rgb(12, 138, 223);
}

.fa-angle-double-right:hover {
    color: rgb(12, 138, 223);
}

.fa-angle-double-down:hover {
    color: rgb(12, 138, 223);
}


@media screen and (max-width: 600px) {
    .front {
        width: 54vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-items: center;
    }
    
    .sp {
        width: 55%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin: auto;
        background-color: rgb(202, 99, 51);
        border-radius: 3px;
    }
    
    .front .box:hover {
        background-color: rgba(38, 126, 129, 0.822);
        border-radius: 2px;
    }
    
    .frontBox {
        font-size: 14px;
    }
    
    .btn {
        font-size: 5px;
        color: blue;
    }

    .text {
        font-size: 4px;
        font-style: italic;
        color: rgba(13, 1, 65, 0.932);
    }
}

.newGame {
    text-align: center;
    background-color: rgb(233, 233, 233);
    color: green;
    width: 100px;
    height: 30px;
}